_testdata/deli/workspace-S01E01-20250625130330.7z
_testdata/deli/workspace-S01E02-20250625130330.7z
_testdata/deli/workspace-S01E03-20250625130330.7z
_testdata/deli/workspace-S01E04-20250625130331.7z
_testdata/deli/workspace-S02E01-20250625130401.7z
_testdata/deli/workspace_S02_20250625_130400_Recovery/.beanckup/workspace-S01E01-20250625130330.json
_testdata/deli/workspace_S02_20250625_130400_Recovery/.beanckup/workspace-S01E02-20250625130330.json
_testdata/deli/workspace_S02_20250625_130400_Recovery/.beanckup/workspace-S01E03-20250625130330.json
_testdata/deli/workspace_S02_20250625_130400_Recovery/.beanckup/workspace-S01E04-20250625130331.json
_testdata/deli/workspace_S02_20250625_130400_Recovery/.beanckup/workspace-S02E01-20250625130401.json
_testdata/deli/workspace_S02_20250625_130400_Recovery/exe/__debug_bin644935162.exe
_testdata/deli/workspace_S02_20250625_130400_Recovery/exe/AutoDarkModeX.exe
_testdata/deli/workspace_S02_20250625_130400_Recovery/exe/FlClash.zip
_testdata/deli/workspace_S02_20250625_130400_Recovery/exe/Git-2.49.0-64-bit.exe
_testdata/deli/workspace_S02_20250625_130400_Recovery/exe/Revo Uninstaller Pro 5.3.7.zip
_testdata/deli/workspace_S02_20250625_130400_Recovery/exe/Scan.ps1
_testdata/deli/workspace_S02_20250625_130400_Recovery/exe/tsetup-x64.5.14.3.exe
_testdata/deli/workspace_S02_20250625_130400_Recovery/screenshot/IMG_0050.CR2
_testdata/deli/workspace_S02_20250625_130400_Recovery/screenshot/Screenshot_2017-03-25-10-13-33-.png
_testdata/deli/workspace_S02_20250625_130400_Recovery/screenshot/Screenshot_2017-03-25-19-30-19-.png
_testdata/deli/workspace_S02_20250625_130400_Recovery/screenshot/Screenshot_2017-03-26-00-23-41-.png
_testdata/deli/workspace_S02_20250625_130400_Recovery/screenshot/ico/imageres_14.ico
_testdata/deli/workspace_S02_20250625_130400_Recovery/screenshot/ico/imageres_15.ico
_testdata/deli/workspace_S02_20250625_130400_Recovery/screenshot/ico/imageres_17.ico
_testdata/deli/workspace_S02_20250625_130400_Recovery/screenshot/ico/imageres_18.ico
_testdata/deli/workspace_S02_20250625_130400_Recovery/screenshot/ico/imageres_21.ico
_testdata/deli/workspace_S02_20250625_130400_Recovery/screenshot/ico/imageres_22.ico
_testdata/deli/workspace_S02_20250625_130400_Recovery/screenshot/ico/imageres_23.ico
_testdata/deli/workspace_S02_20250625_130400_Recovery/screenshot/ico/imageres_25.ico
_testdata/deli/workspace_S02_20250625_130400_Recovery/screenshot/ico/imageres_27.ico
_testdata/deli/workspace_S02_20250625_130400_Recovery/screenshot/ico/imageres_28.ico
_testdata/workspace/.beanckup/plan.json
_testdata/workspace/.beanckup/workspace-S01E01-20250625130330.json
_testdata/workspace/.beanckup/workspace-S01E02-20250625130330.json
_testdata/workspace/.beanckup/workspace-S01E03-20250625130331.json
_testdata/workspace/.beanckup/workspace-S01E04-20250625130331.json
_testdata/workspace/.beanckup/workspace-S02E01-20250625130403.json
_testdata/workspace/exe/__debug_bin644935162.exe
_testdata/workspace/exe/AutoDarkModeX.exe
_testdata/workspace/exe/FlClash.zip
_testdata/workspace/exe/Git-2.49.0-64-bit.exe
_testdata/workspace/exe/Revo Uninstaller Pro 5.3.7.zip
_testdata/workspace/exe/Scan.ps1
_testdata/workspace/exe/tsetup-x64.5.14.3.exe
_testdata/workspace/screenshot/IMG_0050.CR2
_testdata/workspace/screenshot/Screenshot_2017-03-25-10-13-33-.png
_testdata/workspace/screenshot/Screenshot_2017-03-25-19-30-19-.png
_testdata/workspace/screenshot/Screenshot_2017-03-26-00-23-41-.png
_testdata/workspace/screenshot/ico/imageres_14.ico
_testdata/workspace/screenshot/ico/imageres_15.ico
_testdata/workspace/screenshot/ico/imageres_17.ico
_testdata/workspace/screenshot/ico/imageres_18.ico
_testdata/workspace/screenshot/ico/imageres_21.ico
_testdata/workspace/screenshot/ico/imageres_22.ico
_testdata/workspace/screenshot/ico/imageres_23.ico
_testdata/workspace/screenshot/ico/imageres_25.ico
_testdata/workspace/screenshot/ico/imageres_27.ico
_testdata/workspace/screenshot/ico/imageres_28.ico
